pydantic>=1.10.0,<2.0.0
paho-mqtt>=1.6.1
python-dotenv>=1.0.0
requests>=2.31.0
numpy>=2.0,<3
opencv-python>=4.8.0.0
pyaudio>=0.2.13
coastal-alpine-core @ git+https://github.com/fivepanelhat/coastal-alpine-core.git@v0.1.0
